<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filesaving</title>
    <link rel="stylesheet" href="css/homePage.css">
    <link rel="stylesheet" href="css/fileMenager.css">
</head>

<body>
    <div id="container">

        <div id="topBar">
            <div id="topProfile">
                <a href="/profile">
                    <img src='<%=imgRef%>' alt="" id="ProfilePic">
                </a>
                <div id="profData">
                    <span id="userName">
                        <%= name%>
                    </span>
                </div>
            </div>
            <div id="topOptions">
                <form action="/fileMenager" method="GET">
                    <button type="submit">Your files</button>
                </form>
                <form action="/logout?_method=DELETE" method="POST">
                    <button type="submit">Logout</button>
                </form>
            </div>
        </div>

        <div id="mainContent">
            <div id="fileMenager">
                <div id="options">
                    <iframe name="dummyFrame" id="dummyFrame" style="display: none;"></iframe>

                    <div id="optionButtons">
                        <div class="option" id="upload"><img src="images/upload.png" alt="upload"></div>
                        <div class="option" id="newFolder"><img src="images/newFolder.png" alt="newFolder"></div>
                        <div class="option" id="delete"><img src="images/delete.png" alt="delete"></div>
                        <div class="option" id="edit"><img src="images/editFile.png" alt="edit"></div>
                        <div id="reload"><img src="images/reload.png" alt="reload"></div>
                    </div>
                    <div id="editing">
                        double click to enter into folder and single click to select file or folder.
                    </div>
                </div>
                <span id="currentPath"> <span id="back">&lt=</span> | <span id="path"><%=userId%></span>|</span>
                <div id="fileExpCont">
                <div id="fileExplorer" name="fileExplorer">

                </div>
            </div>
            </div>
        </div>
    </div>

    <script defer src="JS/dataStructure.js"></script>
</body>

</html>