<link rel="stylesheet" href="css/fileMenager.css">

<div id="container">

    <div id="topBar">
        <div id="topProfile">
                <img src="" alt="" id="ProfilePic">
                <div id="profData">
                    <span id="userName">
                        <%= name%>
                    </span>
                </div>
        </div>
        <div id="topOptions">
            <form action="/fileMenager" method="GET">
                <button type="submit">Your files</button>
            </form>
            <form action="/logout?_method=DELETE" method="POST">
                <button type="submit">Logout</button>
            </form>
        </div>
    </div>

    <div id="mainContent">
        <span>Welcome to filemenger <%= name%></span>
    </div>


</div>