<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filesaving</title>
    <link rel="stylesheet" href="css/fileMenager.css">
</head>

<body>
    <div id="container">

        <div id="topBar">
            <div id="topProfile">
                <a href="/profile">
                    <img src='<%=imgRef%>' alt="" id="ProfilePic">
                </a>
                <div id="profData">
                    <span id="userName">
                        <%= name%>
                    </span>
                </div>
            </div>
            <div id="topOptions">
                <form action="/fileMenager" method="GET">
                    <button type="submit">Your files</button>
                </form>
                <form action="/logout?_method=DELETE" method="POST">
                    <button type="submit">Logout</button>
                </form>
            </div>
        </div>

        <div id="mainContent">
            <div id="fileMenager">
                <span id="currentPath"> >  <span id="path"><%=userId%></span></span>
                <div id="options">
                    <iframe name="dummyFrame" id="dummyFrame" style="display: none;"></iframe>

                    <form action="/fileMenager/newFolder?_method=PUT" method="POST" target="dummyFrame">
                        <input type="text" name="folderName" id="folderName" placeholder="Folder name">
                        <button type="submit">Add folder</button>
                    </form>


                    <form action="/fileMenager/deleteFile?_method=PUT" method="POST" target="dummyFrame"
                        enctype="multipart/form-data">
                        <button type="submit">Delete</button>
                    </form>
                    <form action="/fileMenager/uploadFile?_method=PUT" method="POST" target="dummyFrame"
                        enctype="multipart/form-data">
                        <input type="text" name="fileName" id="fileName" placeholder="Final file name "></input>
                        <input type="file" name="fileUpload" id="fileUpload"></input>
                        <button type="submit">Upload file</button>
                    </form>
                </div>

                <div id="fileExplorer" name="fileExplorer">

                </div>
            </div>
        </div>
    </div>

    <script defer src="JS/dataStructure.js"></script>
</body>

</html>