<link rel="stylesheet" type="text/css" href="css/homePage.css">

<div id="container">

    <div id="topBar">
        <div id="topProfile">
                <a href="/profile">
                    <img src='<%=imgRef%>' alt="" id="ProfilePic">
                </a>
                <div id="profData">
                    <span id="userName">
                        <%= name%>
                    </span>
                </div>
        </div>
        <div id="topOptions">
            <form action="/fileMenager" method="GET">
                <button type="submit">Your files</button>
            </form>
            <form action="/logout?_method=DELETE" method="POST">
                <button type="submit">Logout</button>
            </form>
        </div>
    </div>

    <div id="mainContent">
        <span>Welcome back <%= name%></span>
    </div>


</div>