<link rel="stylesheet"type="text/css" href="css/logReg.css">
<h1>Login</h1>
<form action="/login" method="POST">
    <div>
        <label for="email">E-mail</label>
        <input type="email" name="email" id="email"class="textBar">
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password"class="textBar">
    </div>
    <button type="submit">Login</button>
</form>

<a href="/register">Register</a>