<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/logReg.css">
</head>
<body>
    <div id="container">
        <div id="center">
            <h1>Login</h1>
            <form action="/login" method="POST">
                <div id="loginInpCont">
    
                    <div id="labels">
                        <label for="email">Email</label>
                        <label for="password">Password</label>
                    </div>
    
                    <div id="inputs">
                        <input type="email" name="email" id="email" required>
                        <input type="password" name="password" id="password" required>
                            <span id="errorMessage">
                                <% if(message){%>
                                <%= message%>
                                <% }%>
                            </span>
                    </div>
                    
                </div>
                <button type="submit" id="submit">Login</button>
            </form>
    
            <a href="/register">Register</a>
        </div>
    </div>    
    Wszelkie prawa zastrzeżone ©.  
</body>
</html>

