<link rel="stylesheet"type="text/css" href="css/logReg.css">
<h1>Register</h1>
<form action="/register" method="POST">
    <div>
        <label for="username">Username</label>
        <input type="text" name="username" id="username" class="textBar">
    </div>
    <div>
        <label for="email">E-mail</label>
        <input type="email" name="email" id="email"class="textBar">
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password"class="textBar">
    </div>
    <button type="submit">Register</button>
</form>

<a href="login">Login</a>