body{
    background-color: #121212;
    color: white;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#container{
    min-height: 100vh;
    min-width: 100%;
}
#topBar{
    height: 45px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 1px 1px gray;
}
#topProfile{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#topProfile img{
    width: 42px;
    height: 42px;
    border-radius: 50%;
}
#profData{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    justify-content: center;
}
#topOptions{
    display: flex;
    justify-content: space-between;
    width: 200px;
}
#topOptions form button{
    transition: 0.1s;
    background-color: rgba(0,0,0,0);
    border: none;
    color: white;
    font-size: 19px;
    text-align: center;
    height: 96%;
    text-decoration: underline;
    user-select: none;
    cursor: pointer;
}

#topOptions form button:hover{
    color: gray;
}